.wrap {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width: 1200px) {
    .wrap {
        height: 756px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 48px;
    }
}