.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}
.main > div {
    height: calc(100vh - 88px);
    padding-bottom: 60px;
}

.desk {
    display: grid;
    grid-template-columns: 1fr 1fr;
}