.main {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-gap: 60px;
}

.fieldsWrapper {
    /*max-width: 480px;*/
}

input {
    width: 100%;
}
.profileSideMenu {
    display: grid;
}
.profileSideMenu > p {
    height: 64px;
    margin: 0;
    display: flex;
    align-items: center;
}
.profileSideMenu a {
    color: var(--c-text-dark);
}
.profileSideMenu .active {
    color: var(--c-text-light);
}
.textDark {
    color: var(--c-text-dark);
    opacity: 0.4;
}