.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    list-style-type: none;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
    grid-column-gap: 24px;
}